.slider-control-centerright {
    display: none;
}
.slider-control-centerleft {
    display: none;
}
.slider{
   margin: 0 auto;
    max-height: 400px;
}
.slider-slide{
    width: 500px;
    max-height: 400px;
}
.carousel-border {
    width: 100%;
    height: 400px;
}
.slider-slide.slider-slide > img {
    width: max-content;
    display: block;
    margin: 0 auto;
}

